* {
  padding: 0;
  margin: 0;
  color: black;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@font-face {
  font-family: jedi;
  src: url("../assets/fonts/Starjedi.ttf");
}


body {
  overflow-x: hidden;
  background-color: black;
  font-family: jedi;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#screenOne {
  background-image: url("../assets/back.png");
  background-size: 50vh 50vh;
  background-repeat: repeat;
}

header {
  background-color: black;
  border: 1px solid white;

  width: 100%;
  height: 6em;

  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1{
  text-align: center;
  font-family: jedi, sans-serif;
  color: white;
  font-size: 3em;
  letter-spacing: 3px;
  text-overflow: clip;
  white-space: nowrap;
}

header img{
  width: 4em;
  padding: 0 1em;
}

#screenOne .image-content {
  width: 100%;

  display: flex;
  justify-content: center;
  margin-top: 20px;
}
#screenOne .image-content img {
  height: 50vh;
}

#screenOne .button-content {
  
  border-radius: 40px;
  background-color: white;

  padding: 0px 20px;
  margin-bottom: 7em;
  display: flex;
  justify-content: center;
  align-items: center;
}
#screenOne .button-content a {
  font-size: 2.5em;
  text-align: center;
  font-weight: bold;
  font-family: jedi, sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
  cursor: pointer;
  text-decoration: none;
}

#screenOne .button-content a:hover {
  color: red;
}

main .learnMore {
  position: absolute;
  top: 40vh;
  left: 15px;
  height: 2em;

  background-color: black;
  border-radius: 1em;
  border: 1px solid white;

  display: flex;
  align-items: center;
}

main .learnMore .img-container{
  border: 3px solid white;
  border-radius: 17px;
  margin: 0px 10px 0px 0px;
  padding: 3px;
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
}

main .learnMore img{
  width: 16px;
  height: 16px;
}

main .learnMore a {
  font-family: jedi, sans-serif;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 1.1em;
  font-weight: bolder;
  white-space: nowrap;
  letter-spacing: 2px;
  font-weight: 400;

  margin: 0px 4px 0px 0px;
}

main .learnMore a:hover {
  font-style: italic;
}


main .toggleNextPage {
  position: absolute;
  bottom: 25px;
  right: 50px;

  background-color: white;
  border-radius: 20px;

  display: flex;
  align-items: center;
}

main .toggleNextPage img{
  width: 1.4em;
  height: 1.4em;
  margin-right: 10px;
}

main .toggleNextPage a {
  font-family: jedi, sans-serif;
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 1.1em;
  font-weight: bolder;
  white-space: nowrap;

  padding: 2px;
  margin: 0px 20px;

  display: flex;
  align-items: center;
}

main .toggleNextPage a:hover {
  font-style: italic;
}

#screenTwo {
  background-image: url("../assets/back2.jpg");
  background-size: cover;
  position: relative;
}

.shadow {
  position: absolute;
  top: 0px;
  height: 50%;
  width: 100%;
  background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(255,0,0,0));
}

#screenTwo .title {
  z-index: 4;
  margin-top: 4em;
}

#screenTwo .title h3 {
  color: white;
  font-size: 2.8em;
  text-align: center;
}

#screenTwo .main-content {
  z-index: 4;
  overflow-y: scroll;
  font-family: auto;
  width: 65vw;
  height: 51vh;
  margin-bottom: 3em;
  background-color: rgba(255, 255, 255, 0.582);
  border-radius: 20px;
  scroll-behavior: smooth;
  font-size: 2em;
  padding: 40px;
  font-weight: 500;
  text-align: justify;
}

#screenTwo .main-content ol{
  padding: 60px;
  text-align: justify;
}

@media only screen and (max-width: 790px){
  header img {
    display: none;
  }
  header {
    justify-content: center;
  }

  #screenTwo .main-content {
    padding: 1.5em;
    font-size: 1em;
  }
  #screenTwo .main-content ol{
    padding: 30px;
  }
}
@media only screen and (max-width: 1200px){
  main .toggleNextPage {
    bottom: 5px;
    right: unset;
    left: unset;
    margin-left: auto;
    margin-right: auto;
  }

  #screenTwo .title h3 {
    font-size: 2em;
    text-align: center;
  }
  #screenTwo .main-content {
    margin-bottom: 1.5em;
    font-size: 1.5em;
  }

}
@media only screen and (max-width: 1000px) and (orientation: landscape){
  main .toggleNextPage a{
    font-size: 0.7em;
  }

  header {
    height: 4em;
  }

  header h1 {
    font-size: 2em;
  }
  header img{
    width: 2.5em;
  }

}


@media only screen and (min-width: 700px) and (orientation: portrait) {
  
  #screenOne .image-content img {
    width: 100%;
  }
  
  main .learnMore a {
    font-size: 2em;
  }

  #screenOne .button-content a {
    font-size: 4em;
  }

}

@media only screen and (orientation: portrait) {
  header h1{
    font-size: 1.5em;
    white-space: normal;
  }

  main .learnMore {
    top: 8em;
  }

  main .toggleNextPage a{
    font-size: 0.7em;
  }

  #screenTwo .main-content {
    z-index: 4;
    overflow-y: scroll;
  
    width: 70vw;
    height: 65vh;
    margin-bottom: 2em;
    background-color: rgba(255, 255, 255, 0.582);
    border-radius: 20px;
    scroll-behavior: smooth;
    padding: 3em;
    font-weight: 500;
    text-align: justify;
  }
  
}

